/* Body styles to center content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container for the switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dbdada;
    transition: .4s;
    border-radius: 34px;
}

/* The slider before the round dot */
.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(146, 137, 137);
    transition: .4s;
    border-radius: 50%;
}
/* Cross mark for unchecked state */
.slider::after {
    position: absolute;
    content: "✕";
    color:white;
    font-size: 20px;
    left: 9px;
    bottom: 6px;
    transition: .4s;
}


/* When the checkbox is checked, move the slider */
input:checked + .slider {
    background-color: #aad0ef;
}

/* Move the slider before to the right */
input:checked + .slider::before {
    transform: translateX(26px);
    background-color: #1191fa;
}
/* Change to tick mark when checked */
input:checked + .slider::after {
    content: "✔";
    color:white;
    left: 34px;
}
